.inicial {
    text-align: center;
}
.cont-inicial {
    width: 150px;
    height: 50px;
    background: rgb(153, 230, 233);
    display: inline-block;
}
.total {
    text-align: center;
    margin-top: 3.5%;
}
.cont-padre {
    text-align: center;
}
.Pagos {
    text-align: left;
    margin-top:5%;
}
.cont-boton {
    margin-top: 3%;
}