.inicial {
    text-align: center;
}
.cont-inicial {
    width: 150px;
    height: 50px;
    background: rgb(153, 230, 233);
    display: inline-block;
}
.total {
    text-align: center;
    margin-top: 3.5%;
}
.cont-padre {
    text-align: center;
}
.Pagos {
    text-align: left;
    margin-top:5%;
}
.cont-boton {
    margin-top: 3%;
}


/*------------------------------ */


/*FORM STYLES */
.vh-100{
    height: 100vh;
}

.font-size{
    font-size: 1.2em
}

.principal-color-text-blue{
    color: #28235D;
}

.bg-pink{
    background-color: #F18876;
}

.btn-styles{
    color:#4F4F4F;
}

.btn-styles:hover{
    background-color: rgb(231, 106, 84);
    color: rgb(56, 51, 51);
    transition: 0.2s all;
}

/*  .bg-form{
    background-image: url('../../public/assets/images/bg-form.jpg')
}  */

/* HOME STYLES*/

.h-400px{
    height: 420px;
    margin-bottom: 30px;
    
}
.border {
    border:1px solid #F18876 !important;
}
.form-control {
    border:1px solid #F18876;
    border-radius: 10px;
}

/*--lista--*/
.lista {
  /*  background: rgb(94, 166, 224)*/ 
    border-radius: 5px;
    list-style: none;
    width: 250px;
    padding-left: 4%;
    font-weight: 500;
    margin-left: 0%;
}
.mb-0 {
    background: blue;
}

.m-t-20px{
    margin: 20px 0;
}

.boton {
    border-radius: 18px;
    margin-left: 35%;
    color: #fff;
    background: rgb(61, 54, 133);
    
}
.btn-color {
    background: #F18876;
}

@media (min-width:780px) {
    .boton {
       
        margin-left: 45%;
       
        
        
    } 
}